body {
  margin: 0;
  padding:0;
  background-color: #444;
  font-style: none;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
}

.conteudo {
  background-color: #333;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  
}

.conteudo h3 {
  text-align: center;
  
}

.conteudo h4 {
  text-align: center;
  
}

footer {
  color: white;
  padding: 5px;
  background-color: black;
  text-align: center;
}

a {
  color: white;
}

img {
  margin-top: 20px;
  border-radius: 50%;
  width: 20%;
  
}


/* Estilos para telas de PC (desktop) */
@media screen and (max-width: 720px) {
  img {
  margin-top: 20px;
  border-radius: 50%;
  width: 50%;
  }
  /* Outros estilos para telas de PC aqui */
}

p{
  text-align: center;
}